<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    
   
    <title>gire</title>
  </head>
  <body>
    <h2>costa javiense</h2>
    <div id="map" class="map"></div>
    
  </body>
</html>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
 <script src="https://openlayers.org/en/v3.20.1/build/ol.js" type="text/javascript"></script>
   
  </body>
</html>
